root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{yml,yaml,json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[*.{bat,cmd,nsi,ps1,rc}]
end_of_line = crlf

[*.{c,cc,cpp,h,hpp,cs,xaml,xml,py,cmake,yml,yaml,json,md}]
end_of_line = lf
