#include <windows.h>
#include "../common/version.h"

1 ICON "app.ico"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION SHURU_VERSION_MAJOR,SHURU_VERSION_MINOR,SHURU_VERSION_PATCH,0
 PRODUCTVERSION SHURU_VERSION_MAJOR,SHURU_VERSION_MINOR,SHURU_VERSION_PATCH,0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0x0L
 FILEOS VOS_NT_WINDOWS32
 FILETYPE VFT_DLL
 FILESUBTYPE 0x0L
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904B0"
    BEGIN
      VALUE "CompanyName", "Caishen IME\0"
      VALUE "FileDescription", "Caishen IME TSF Text Service\0"
      VALUE "FileVersion", SHURU_VERSION_STRING "\0"
      VALUE "InternalName", "ShuruIme.dll\0"
      VALUE "OriginalFilename", "ShuruIme.dll\0"
      VALUE "ProductName", "Caishen IME\0"
      VALUE "ProductVersion", SHURU_VERSION_STRING "\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x0409, 1200
  END
END
